* {
  margin: 0;
  padding: 0;
}

.container{
  max-width: 500px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  height: 150px;
  max-width: 300px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.item {
  font-size: 24px;
  height: 50%;
  text-align: center;
  width: 100px;
  line-height: 50px;
  min-width: 100px;
}

.orange{
  background: #ffa500;
}

.green{
  background: #008000;
}

.nowrap{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

.wrap-reverse{
  flex-wrap: wrap-reverse;
}