* {
  margin: 0;
  padding: 0;
}

.container{
  max-width: 350px;
  border: 1px solid #000;
  margin: 10px;
  display: flex;
}

.item{
  background: #8a2be2;
  margin: 5px;
  color: #fff;
  text-align: center;
  flex: 1;
}

.center{
  align-items: center;
}

.stretch{
  align-items: stretch;
}

.start{
  align-items: flex-start;
}

.end{
  align-items: flex-end;
}

.baseline{
  align-items: baseline;
}

.column{
  flex-direction: column;
}

.central {
  height: 300px;
  justify-content: center;
}

.central .item{
  flex: 0;
  padding: 20px;
}