* {
  margin: 0;
  padding: 0;
}

.flex-container {
  max-width: 350px;
  border: 1px solid #000;
  display: flex;
  margin-bottom: 10px;
  min-height: 100px;
}

.item {
  background: #ff7f50;
  color: #fff;
  text-align: center;
  margin: 5px;
  flex: 1;
  font-size: 24px;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.self-auto {
  align-self: auto;
}

.column {
  flex-direction: column;
}
